.aboutme-content {
    display: flex;
    align-items: stretch;
    margin-top: 5em;
}

.aboutme-content_picture,
.aboutme-content_text {
    min-width: 50%;
    min-height: 80vh;
    padding: 3em 5em 3em 6em;
    font-size: 110%;
    align-self: center;
    background: var(--secondary-color);
    color: #fff;
}

.aboutme-content_picture {
    background: url('../img/about_img.jpg') no-repeat;
    background-size: cover;
    box-shadow: 0 8px 6px -6px black;
    transition: all 0.4s ease-out;
}

.about-logo {
    margin-top: -1em;
    margin-left: -3em;
    width: 25%;
    padding: 1.25em 0.75em 0.75em 0.75em;
    border-radius: 15px;
    background: var(--bg-dark);
}

.aboutme-content_picture:hover {
    transform: scale(1.1);
    transition: all 0.4s ease-out;
}

.aboutme-content_text p {
    font-family: var(--secondary-font);
    line-height: 1.25em;
}

.aboutme-content_text h1 {
    font-family: var(--primary-font);
    text-transform: uppercase;
    padding: 1em 0;
}

.aboutme-content_text ul {
    list-style: square;
    padding: 1em 0 1em 3em;
}

.aboutme-content_text li {
    font-family: var(--secondary-font);
}