.footer {
    background: var(--bg-dark);
    padding: 0.75em;
    color: #fff;
    text-align: center;
}

.footer p {
    font-family: var(--primary-font);
    text-transform: uppercase;
    letter-spacing: 1px;
}