.hero {
  padding: 2em;
  background: url("../img/hero_img.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 88vh;
  /* center content */
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  box-shadow: 0 8px 6px -6px black;
}

.hero::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.hero_txt {
  color: #fff;
  width: 50%;
  margin: 0 0 3em 3em;
  position: relative;
  z-index: 10;
  font-size: 110%;
  letter-spacing: 1px;
}

.hero_txt h1 {
  margin: 0;
  padding: 0.2em 0.7em;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  background: rgba(167, 0, 0, 0.486);
  box-shadow: 0 8px 6px -6px black;
}

.hero_txt p {
  margin: 1em 0;
  font-family: "Raleway", sans-serif;
}

.hero_txt button {
  border: none;
  background: var(--primary-color);
  padding: 0.5em 1em;
  font-size: 100%;
  margin: 1em 0;
  color: #fff;
  text-transform: uppercase;
  font-family: var(--primary-font);
}

.hero_txt button:hover {
  background: #fff;
  color: var(--primary-color);
}

@media (max-width: 800px) {
  .hero_txt {
    width: 75%;
  }
}

@media (max-width: 620px) {
  .hero_txt h1 {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .hero_txt {
    width: 90%;
  }
}
