.pricingcard_content-txt ul {
  list-style: square;
  margin: 2em;
  padding: 0;
}

.pricingcard_content-txt ul li {
  font-family: var(--secondary-font);
  font-weight: 200;
  margin: 0.5em 1em 0.5em 0;
  padding: 0.5em 0;
  width: 100%;
  text-align: left;
}
