.offercard_content {
    background: var(--secondary-color);
    color: #fff;
    padding: 2em 2em 6em 2em;
    /* border-right: 1px solid rgb(180, 180, 180); */
    text-align: center;
}

.offercard_content--last {
    border-right: none;
}

.offercard_content--middle {
    background: var(--primary-color);
}

.offercard_content-icon {
    font-size: 200%;
    background: var(--primary-color);
    color: #fff;
    display: inline-block;
    padding: .5em;
    border-radius: 50%;
}

.offercard_content-title {
    padding: 1em;
    text-transform: uppercase;
}

.offercard_content-title h2 {
    font-family: var(--secondary-font);
    font-weight: 400;
}

.offercard_content-txt p {
    font-family: var(--secondary-font);
    line-height: 1.25em;
}